<div>

<md-card class="widget-bg-color" style="width: 250px;">
    <md-card-header>
        <md-card-avatar>
            <md-icon md-svg-icon="transmission-tower"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">Teleinfo</span>
            <span class="md-subhead">teleinfo</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content layout="row" layout-align="space-around center" md-colors="{background:'default-primary-300'}">
        <!-- current mode -->
        <div ng-if="widgetCtl.instantPowerDevice.currentmode">
            <md-icon md-svg-icon="{{widgetCtl.currentModes[widgetCtl.instantPowerDevice.currentmode].icon}}" ng-style="widgetCtl.currentModes[widgetCtl.instantPowerDevice.currentmode].style">
                <md-tooltip md-direction="top">{{currency-usd-circle-outline.label}}</md-tooltip>
            </md-icon>
        </div>
            
        <!-- current consumption -->
        <div>
            <span class="md-display-1">{{widgetCtl.instantPowerDevice.power ? widgetCtl.instantPowerDevice.power : '---'}}W</span>
        </div>

        <!-- next mode -->
        <div ng-if="widgetCtl.instantPowerDevice.nextmode">
            <md-icon md-svg-icon="{{widgetCtl.currentModes[widgetCtl.instantPowerDevice.nextmode].icon}}" ng-style="widgetCtl.currentModes[widgetCtl.instantPowerDevice.nextmode].style">
                <md-tooltip md-direction="top">{{widgetCtl.currentModes[widgetCtl.instantPowerDevice.nextmode].label}}</md-tooltip>
            </md-icon>
        </div>
    </md-card-content> 
    <md-card-actions layout="column" layout-align="start" ng-if="widgetCtl.hasCharts">
        <md-button ng-click="widgetCtl.openDialog()" class="md-raised">
            <md-icon md-svg-icon="chart-line"></md-icon>
            Charts
        </md-button>
    </md-card-actions>
    <md-card-footer>
        <md-icon md-svg-icon="clock">
            <md-tooltip md-direction="top">Last update</md-tooltip>
        </md-icon>
        <span>{{widgetCtl.instantPowerDevice.lastupdate | hrDatetime:true}}</span>
    </md-card-footer>
</md-card>

</div>
