<div layout="column" layout-padding ng-cloak>

    <md-list>

        <md-subheader class="md-no-sticky">Teleinfo device</md-subheader>
        <md-list-item>
            <span>Dongle port</span>
            <div class="md-secondary">
                {{teleinfoCtl.port ? teleinfoCtl.port : 'Not found'}}
            </div>
        </md-list-item>

        <md-divider></md-divider>
        
        <md-subheader class="md-no-sticky">Teleinfo informations</md-subheader>
        <md-list-item ng-if="teleinfoCtl.teleinfo.length===0">
            <span>No data</span>
        </md-list-item>
        <md-list-item ng-repeat="item in teleinfoCtl.teleinfo" class="md-2-line" ng-click="null">
            <div class="md-list-item-text">
                <h3>{{item.label}}</h3>
                <p>{{item.key}}</p>
            </div>
            <div class="md-secondary">
                {{item.value}} {{item.unit}}
            </div>
        </md-list-item>

    </md-list>

</div>

