<div>

<md-card class="widget-bg-color" style="width: 250px;">
    <md-card-header>
        <md-card-avatar>
            <md-icon md-svg-icon="transmission-tower"></md-icon>
        </md-card-avatar>
        <md-card-header-text>
            <span class="md-title">{{widgetCtl.device.name}}</span>
            <span class="md-subhead">{{widgetCtl.device.type}}</span>
        </md-card-header-text>
    </md-card-header>
    <md-card-content layout="row" layout-align="space-around center" md-colors="{{widgetCtl.device.__widget.mdcolors}}">
        <!-- current mode -->
        <div ng-if="widgetCtl.device.currentmode">
            <md-icon md-svg-icon="widgetCtl.currentModes[widgetCtl.device.currentmode].icon" style="{{widgetCtl.currentModes[widgetCtl.device.currentmode].style}}">
                <md-tooltip md-direction="top">{{currency-usd-circle-outline.label}}</md-tooltip>
            </md-icon>
        </div>
            
        <!-- current consumption -->
        <div>
            <span class="md-display-1">{{widgetCtl.device.power ? widgetCtl.device.power : '---'}}W</span>
        </div>

        <!-- next mode -->
        <div ng-if="widgetCtl.device.nextmode">
            <md-icon md-svg-icon="widgetCtl.currentModes[widgetCtl.device.nextmode].icon" style="{{widgetCtl.currentModes[widgetCtl.device.nextmode].style}}">
                <md-tooltip md-direction="top">{{widgetCtl.currentModes[widgetCtl.device.nextmode].label}}</md-tooltip>
            </md-icon>
        </div>
    </md-card-content> 
    <md-card-actions layout="column" layout-align="start" ng-if="widgetCtl.hasCharts">
        <md-button ng-click="widgetCtl.openDialog()" class="md-raised">
            <md-icon md-svg-icon="chart-line"></md-icon>
            Charts
        </md-button>
    </md-card-actions>
    <md-card-footer>
        <md-icon md-svg-icon="clock">
            <md-tooltip md-direction="top">Last update</md-tooltip>
        </md-icon>
        <span>{{widgetCtl.device.lastupdate | hrDatetime:true}}</span>
    </md-card-footer>
</md-card>

</div>
